.gray {
  color: #999999;
}
.small {
  font-size: 0.8em;
}
.title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 26px;
  padding-left: 10px;
  line-height: 1.2em;
}
.moduletitle {
  border-bottom-color: #ff9999 !important;
}
.leftbar {
  border: solid 3px #DDD;
  margin-top: 2px;
  padding: 20px;
  background-color: #FCFCFC;
  height: 100%;
}
.leftbartitle {
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px;
  color: #369;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
  padding-top: 12px;
}
.leftbarelem {
  text-align:left;
  font-size: 0.9em;
}
.leftbarelem td {
  padding-left: 10px;
}
.mainsection {
  border: solid 3px #DDD;
  margin: 2px;
}
.mainsection p {
  padding: 10px;
}
.maintitle {
  font-size: 1.1em;
  font-weight: bold;
  color: #369;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
  background-color: #FCFCFC;
  padding: 2px;
  padding-left: 10px;
}
hr {
  color: #9CF;
  background-color: #9CF;
  height: 2px;
}
ul.toc {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}
ul.toc li { 
  display: inline;
  width: 100%; 
}
ul.toc li a {
  text-decoration: none;
  padding: .1em;
  color: #fff;
  background-color: #9CF;
}
ul.toc li a:hover {
  color: #fff;
  background-color: #369;
}
.hiddentoc {
  position:absolute;
  border-width: 0 1px;
  font:normal 12px Verdana;
  line-height:18px;
  z-index:100;
  visibility: hidden;
}
.hiddentoc a{
  width: 200px;
  display: table-cell;
  text-indent: 5px;
  padding: 2px 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
ul.hiddentoc li {
  display: block;
}
.toplink{
  text-align:right; 
  float:right;
}
.thumbcontainer{
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(249, 249, 249);
  margin: 2px;
  width: 160px;
  height: 160px;
  float: left;
}
.thumb{
  text-align: center;
  margin: 35px auto;
}
.pagetoc{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  color: black;
  font-size: 80%;
  font-family: 'helvetica neue',helvetica,arial,sans-serif;
  margin: 5px;
  line-height: 1.5em;
  clear: both;
  float: right;
}
.pagetoc ul{
  margin: 0px;
  padding-right: 2px;
  list-style-type: decimal;
}
.pagetoc a{
  color: black;
}
.pagetoctitle{
  text-align: center;
  font-size: larger;
}
.map{
  height: 200px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(249, 249, 249);
}
.monumentstable{
  width: 100%;
  font-size: 0.8em;
  background: none repeat scroll 0% 0% rgb(249, 249, 249);
  border: 1px;
}
.monumentstable td{
  border: 1px solid rgb(255, 255, 255);
}
.monumentsheader{
  background: none repeat scroll 0% 0% rgb(204, 204, 204);
}
.graph{
  display: block;
  float:left;
}
.full{
  width: 100%;
}
.half{
  width: 50%;
}
